<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-grid.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-reboot.css" rel="stylesheet">
    <link href="css/bootstrap/business.css" rel="stylesheet">
    <link href="css/bootstrap/table.css" rel="stylesheet">
    <title>Clientes</title>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Gestion de Base de Datos</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cuadros">Cuadros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/autores">Autores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <h1 class="mt-4">Clientes</h1>

    <form action="/buscarcliente" method="get">
        <div class="input-group">
            <div class="barra-busqueda">
                <input type="text" name="busqueda" class="form-control"  placeholder="Buscar...">
            </div>
            <div class="buscar-por">
                <select name="criterio" class="custom-select">
                    <option value="nombre" selected="selected">Buscar por...</option>
                    <option value="nombre">Nombre</option>
                    <option value="apellidos">Apellidos</option>
                    <option value="nif">NIF</option>
                    <option value="direccion">Direccion</option>
                    <option value="email">e-mail</option>
                    <option value="telefono">Telefono</option>
                </select>
            </div>
            <input type="submit" value=" Buscar " class="btn btn-primary">
        </div>
    </form>

    <div class="encima-tabla">
        <a href="nuevo_cliente.html" class="btn btn-primary">Añadir cliente</a>
        <form th:action="@{/mostrarclientesorden(lista = ${clientes})}" method="post">
            <div class="ordenar-por-group">
                <div class="ordenar-por">
                    <select name="orden" class="custom-select">
                        <option value="" selected="selected">Ordenar por...</option>
                        <option value="nombreAsc" type="submit">Nombre (A-Z)</option>
                        <option value="nombreDesc">Nombre (Z-A)</option>
                        <option value="apellidosAsc">Apellidos (A-Z)</option>
                        <option value="apellidosDesc">Apellidos (Z-A)</option>
                    </select>
                </div>
                <input type="submit" value="Ordenar" class="btn btn-secondary">
            </div>
        </form>
    </div>

    <div class="limiter">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="column1">Nombre</th>
                            <th class="column2">Apellidos</th>
                            <th class="column3">NIF</th>
                            <th class="column6"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cliente : ${clientes}">
                            <td class="column1">
                                <a th:href="@{/mostrarcliente(id = ${cliente.getId()})}">
                                    <div th:text="${cliente.getNombre()}" ></div>
                                </a>
                            </td>
                            <td  class="column2">
                                <a th:href="@{/mostrarcliente(id = ${cliente.getId()})}">
                                    <div th:text="${cliente.getApellidos()}"></div>
                                </a>
                            </td>
                            <td class="column3">
                                <a th:href="@{/mostrarcliente(id = ${cliente.getId()})}">
                                    <div th:text="${cliente.getNIF()}" ></div>
                                </a>
                            </td>
                            <td class="column4">
                                <div class="boton-tabla">
                                    <a th:href="@{/modificarclienteform(nif = ${cliente.getNIF()})}" th:text="'Modificar'"></a>
                                    <a th:href="@{/modificarclienteform(nif = ${cliente.getNIF()})}" ><img src="../images/round_create_white_18dp.png" height="12" width="10"></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

</div>

</body>
</html>
