<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-grid.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-reboot.css" rel="stylesheet">
    <link href="css/bootstrap/business.css" rel="stylesheet">
    <link href="css/bootstrap/table.css" rel="stylesheet">
    <title>Cuadros</title>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Gestion de Base de Datos</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/autores">Autores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container">
    <h1>Cuadros</h1>

        <form action="/buscarcuadro" method="get">
            <div class="input-group">
                <div class="barra-busqueda">
                    <input type="text" name="busqueda" class="form-control"  placeholder="Buscar...">
                </div>
                <div class="buscar-por">
                    <select name="criterio" class="custom-select">
                        <option value="titulo" selected="selected">Buscar por...</option>
                        <option value="titulo">Titulo</option>
                        <option value="autor">Autor</option>
                        <option value="descripcion">Descripcion</option>
                        <option value="anyo">Año de finalizacion</option>
                        <option value="precio">Precio</option>
                    </select>
                </div>
                <input type="submit" value=" Buscar " class="btn btn-primary">
            </div>
        </form>

        <div class="encima-tabla">
            <div>
                <a href="/nuevocuadro" class="btn btn-primary">Añadir cuadro</a>
                <a href="/cuadrosvendidos" class="btn btn-light">Ver solo cuadros vendidos</a>
            </div>
            <form th:action="@{/mostrarcuadrosorden(lista = ${cuadros})}" method="post">
                <div class="ordenar-por-group">
                    <div class="ordenar-por">
                        <select name="orden" class="custom-select">
                            <option value="" selected="selected">Ordenar por...</option>
                            <option value="tituloAsc" type="submit">Titulo (A-Z)</option>
                            <option value="tituloDesc">Titulo (Z-A)</option>
                            <option value="anyoAsc">Año: Mas antiguos primero</option>
                            <option value="anyoDesc">Año: Mas recientes primero</option>
                            <option value="precioAsc">Precio: mas baratos primero</option>
                            <option value="precioDesc">Precio: mas caros primero</option>
                        </select>
                    </div>
                    <input type="submit" value="Ordenar" class="btn btn-secondary">
                </div>
            </form>
        </div>



        <div class="limiter" th:unless="${cuadros.isEmpty()}">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                    <tr class="table100-head">
                        <th class="column1">Titulo</th>
                        <th class="column2">Autor</th>
                        <th class="column3">Año de finalizacion</th>
                        <th class="column4">Precio</th>
                        <th class="column5">Vendido</th>
                        <th class="column6"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cuadro : ${cuadros}">
                        <td class="column1">
                            <a th:href="@{/mostrarcuadro(titulo = ${cuadro.getTitulo()})}">
                                <div th:text="${cuadro.getTitulo()}" ></div>
                            </a>
                        </td>
                        <td class="column2">
                            <a th:href="@{/mostrarcuadro(titulo = ${cuadro.getTitulo()})}">
                                <div th:unless="${cuadro.getAutor() == null}" th:text="${cuadro.getAutor().getNombre()} + ' ' + ${cuadro.getAutor().getApellidos()}"></div>
                            </a>
                        </td>
                        <td class="column3">
                            <a th:href="@{/mostrarcuadro(titulo = ${cuadro.getTitulo()})}">
                                <div th:text="${cuadro.getAnyoFinalizacion()}" ></div>
                            </a>
                        </td>
                        <td  class="column4">
                            <a th:href="@{/mostrarcuadro(titulo = ${cuadro.getTitulo()})}">
                                <div th:text="${cuadro.getPrecio()} + ' €'"></div>
                            </a>
                        </td>
                        <td  class="column5">
                            <a th:href="@{/mostrarcuadro(titulo = ${cuadro.getTitulo()})}">
                                <div th:text="${cuadro.vendido_texto()}"></div>
                            </a>
                        </td>
                        <td  class="column6">
                            <a th:href="@{/modificarcuadroform(titulo = ${cuadro.getTitulo()})}" th:text="Modificar"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <div class="cuadro-error"  th:if="${cuadros.isEmpty()}">
            <p class="texto-error">No hay cuadros registrados.</p>
        </div>
    </div>

</body>
</html>
