<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,900' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet">
    <title>Nuevo cuadro</title>
</head>
<body>
    <form th:action="@{/modificarcuadro(id = ${cuadro.getId()})}" method="post">
    <p>Titulo</p>
    <input type="text" name="titulo" th:value="${cuadro.getTitulo()}">
    <p>Autor</p>
        <select name="autor">
           <option th:each="autor : ${autores}" th:value="${autor}" th:text="${autor}" th:selected="${cuadro.getAutor()}"></option>
        </select>
    <p>Año</p>
    <input type="text" name="anyo" th:value="${cuadro.getAnyoFinalizacion()}">
    <p>Descripción</p>
    <input type="text" name="descripcion" th:value="${cuadro.getDescripcion()}">
    <p>Precio</p>
    <input type="text" name="precio" th:value="${cuadro.getPrecio()}">
    <p>Anchura</p>
    <input type="text" name="anchura" th:value="${cuadro.getAnchura()}">
    <p>Altura</p>
    <input type="text" name="altura" th:value="${cuadro.getAltura()}">
    <p>Vendido</p>
    <input type="text" name="vendido" th:value="${cuadro.isVendido()}">
    <input type="submit" value="Guardar">
    </form>

</body>
</html>