<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap/table.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-grid.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-reboot.css" rel="stylesheet">
    <link href="css/bootstrap/business.css" rel="stylesheet">
    <title>Autor</title>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Inicio</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cuadros">Cuadros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/autores">Autores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="titulo-cabecera">
        <h1 class="mt-3 mt-4">
            Autor <br>
            <small th:text="${autor.getNombre().toUpperCase()} + ' ' + ${autor.getApellidos().toUpperCase()} "></small>
        </h1>
        <div class="boton-volver">
            <div class="btn btn-secondary">
                <a href="/autores"><img src="../images/round_arrow_back_white_18dp.png" height="18" width="18" class="icono-modificar"></a>
                <a href="/autores" th:text="'Volver'" class="texto-boton"></a>
            </div>
        </div>
    </div>

    <div class="zona-mostrar">
        <div class="atributo-mostrar">
            <p class="nombre-atributo">Nombre</p>
            <p th:text="${autor.getNombre()}" class="atributo"></p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">Apellidos</p>
            <p th:text="${autor.getApellidos()}" class="atributo"></p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">NIF</p>
            <p th:text="${autor.getNIF()}" class="atributo"></p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">Año de nacimiento</p>
            <p th:text="${autor.getAnyoNacimiento()}" class="atributo"></p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">País</p>
            <p th:text="${autor.getPais()}" class="atributo"></p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">Dirección</p>
            <p th:text="${autor.getDireccion()}" class="atributo"></p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">Email</p>
            <p th:text="${autor.getEmail()}" class="atributo"></p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">Teléfono</p>
            <p th:text="${autor.getTlf()}" class="atributo"></p>
        </div>

        <div class="boton-modificar-mostrar">
            <div class="btn btn-primary">
                <a th:href="@{/modificarautorform(nif = ${autor.getNIF()})}" ><img src="../images/round_create_white_18dp.png" height="18" width="18" ></a>
                <a th:href="@{/modificarautorform(nif = ${autor.getNIF()})}" th:text="'Modificar'" class="texto-boton"></a>
            </div>
        </div>
    </div>

    <p class="nombre-atributo">Cuadros de este autor:</p>
    <div class="limiter" th:unless="${autor.getCuadros().isEmpty()}">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                    <tr class="table100-head">
                        <th class="column1">Titulo</th>
                        <th class="column2">Año</th>
                        <th class="column3">Vendido</th>
                        <th class="column4">Precio</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cuadro : ${autor.getCuadros()}">
                        <td class="column1">
                            <a th:href="@{/mostrarcuadro(titulo = ${cuadro.getTitulo()})}">
                                <div th:text="${cuadro.getTitulo()}" class="column1"></div>
                            </a>
                        </td>
                        <td class="column2">
                            <a th:href="@{/mostrarcuadro(titulo = ${cuadro.getTitulo()})}">
                                <div th:text="${cuadro.getAnyoFinalizacion()}" class="column2"></div>
                            </a>
                        </td>
                        <td class="column3">
                            <a th:href="@{/mostrarcuadro(titulo = ${cuadro.getTitulo()})}">
                                <div th:text="${cuadro.vendido_texto()}" class="column3"></div>
                            </a>
                        </td>
                        <td class="column4">
                            <a th:href="@{/mostrarcuadro(titulo = ${cuadro.getTitulo()})}">
                                <div th:text="${cuadro.getPrecio()}" class="column4"></div>
                            </a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="cuadro-error"  th:if="${autor.getCuadros().isEmpty()}">
        <div class="texto-error">Este autor no tiene cuadros.</div>
    </div>

</div>

<!-- MOSTRAR LOS CUADROS QUE REALIZA -->
</body>
</html>