<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-grid.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-reboot.css" rel="stylesheet">
    <link href="css/bootstrap/business.css" rel="stylesheet">
    <link href="css/bootstrap/table.css" rel="stylesheet">
    <link href="css/material-icons.css" rel="stylesheet">

    <title>Cliente</title>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Inicio</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cuadros">Cuadros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/autores">Autores</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="titulo-cabecera">
        <h1 class="mt-3 mt-4">
            Cliente <br>
            <small th:text="${cliente.getNombre().toUpperCase()} + ' ' + ${cliente.getApellidos().toUpperCase()}"></small>
        </h1>
        <div class="boton-volver">
            <a href="/clientes" class="texto-boton">
                <div class="btn btn-secondary">
                    <span class="material-icons">arrow_back</span>
                    Volver
                </div>
            </a>
        </div>

    </div>

    <div class="zona-mostrar">
        <div class="atributo-mostrar">
            <p class="nombre-atributo">Nombre</p>
            <p th:text="${cliente.getNombre()}" class="atributo"></p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">Apellidos</p>
            <p th:text="${cliente.getApellidos()}" class="atributo" th:unless="${cliente.getApellidos().isBlank()}"></p>
            <p class="sin-informacion" th:if="${cliente.getApellidos().isBlank()}">Sin informacion</p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">NIF</p>
            <p th:text="${cliente.getNIF()}" class="atributo"></p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">Dirección</p>
            <p th:text="${cliente.getDireccion()}" class="atributo" th:unless="${cliente.getDireccion().isBlank()}"></p>
            <p class="sin-informacion" th:if="${cliente.getDireccion().isBlank()}">Sin información</p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">e-mail</p>
            <p th:text="${cliente.getEmail()}" class="atributo" th:unless="${cliente.getEmail().isBlank()}"></p>
            <p class="sin-informacion" th:if="${cliente.getEmail().isBlank()}">Sin información</p>
        </div>
        <div class="atributo-mostrar">
            <p class="nombre-atributo">Telefono</p>
            <p th:text="${cliente.getTelefono()}" class="atributo" th:unless="${cliente.getTelefono().isBlank()}"></p>
            <p class="sin-informacion" th:if="${cliente.getTelefono().isBlank()}">Sin información</p>
        </div>
        <div class="boton-modificar-mostrar">
            <a th:href="@{/modificarclienteform(id = ${cliente.getId()})}" class="texto-boton">
                <div class="btn btn-primary">
                    <span class="icono-modificar material-icons">create</span>
                    Modificar
                </div>
            </a>
        </div>
    </div>
    <p class="nombre-atributo">Cuadros comprados por este cliente:</p>
    <div class="limiter" th:unless="${cliente.getCuadros().isEmpty()}">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                    <tr class="table100-head">
                        <th class="column1">Título</th>
                        <th class="column2">Autor</th>
                        <th class="column3">Fecha de compra</th>
                        <th class="column8">Precio</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cuadro : ${cliente.getCuadros()}">
                        <td class="column1">
                            <a th:href="@{/mostrarcuadro(id = ${cuadro.getId()})}">
                                <div th:text="${cuadro.getTitulo()}"></div>
                            </a>
                        </td>
                        <td class="column2">
                            <a th:href="@{/mostrarcuadro(id = ${cuadro.getId()})}">
                                <div th:text="${cuadro.getAutor().getNombre() + ' ' + cuadro.getAutor().getApellidos()}"></div>
                            </a>
                        </td>
                        <td class="column3">
                            <a th:href="@{/mostrarcuadro(id = ${cuadro.getId()})}">
                                <div th:text="${cuadro.fechaFormateada()}"></div>
                            </a>
                        </td>
                        <td class="column8">
                            <a th:href="@{/mostrarcuadro(id = ${cuadro.getId()})}">
                                <div th:text="${cuadro.getPrecio()} + ' €'"></div>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="cuadro-advertencia" th:if="${cliente.getCuadros().isEmpty()}">
        <div class="texto-advertencia">
            <span class="material-icons">warning</span>
            Este cliente no ha comprado ningún cuadro.
        </div>
    </div>
</div>



</body>
</html>